[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
    whitespace = cr-at-eol
    autocrlf = input
    safecrlf = true
[user]
    email = dhopkins@ziaconsulting.com
    name = Dan Hopkins
[apply]
    whitespace = fix
[color]
    ui = true
[alias]
    flog = log --stat ..origin
    fstash = stash save 'merge in remote'
    nochange = update-index --assume-unchanged
    ai = add -i
    ca = commit -a
    cm = commit -m
    cam = commit -a -m
    # shortcuts for commands
    s = status
    d = diff
    a = add
    co = checkout
    b = branch
    l = log
    f = fetch
    r = reset
    p = push
    c = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[interactive]
    singlekey = true
[push]
    default = tracking
[color "diff"]
    whitespace = red reverse
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "branch"]
    current = yellow bold
    local = green
    remote = red bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
